.contact-wrapper {
  background-image: url("../images/common-bg.svg");
  background-position: right top;
  background-repeat: no-repeat;
  .scroll-height & {
    padding-top: 124px;
    @media (max-width:768px) {
      padding-top: 112px;
    }
  }
}
.contact-content-wrapper {
  padding: 10px 80px;
  .contact-subhead {
    font-size: 15px;
  }
  .form-elements {
    padding: 60px 0 0 0;
    .form-row {
      .form-group {
        label {
          color: $text-muted;
          font-weight: 500;
          font-size: 14px;
        }
      }
      .form-control {
        width: 449px;
        height: 48px;
        opacity: 0.66;
        border-radius: 4px;
        box-shadow: 0 4px 15px 0 rgba(7, 42, 68, 0.06);
        border: solid 1px $custom-border-color;
        background-color: $white;
        @media (max-width: 1105px) {
          width: 100%;
        }
        @media (max-width: 508px) {
          width: 100%;
        }
      }
      .form-control-area {
        width: 923px;
        height: 135px;
        opacity: 0.66;
        padding: 25px;
        border-radius: 4px;
        box-shadow: 0 4px 15px 0 rgba(7, 42, 68, 0.06);
        border: solid 1px $custom-border-color;
        background-color: $white;
        @media (max-width: 1105px) {
          width: 100%;
        }
        @media (max-width: 508px) {
          width: 100%;
        }
      }
    }
  }
  .contact-border {
    border-right: 1px solid $custom-border-color;
    @media (max-width: 768px) {
    border: none;
  }
  }
  @media (max-width: 508px) {
    padding: 5px 15px;
  }
}
