<footer>
            <div class="row footer-border pb-5">
                <div class="col-sm-4 col-lg-3">
                  <img src="assets/images/logo.svg" alt="">
                  <p class="text-muted">Remain family for my little carefully that everything not story least, an that project to able lobby, himself</p>
                </div>
                <div class="col-sm-4 col-lg-2 pl-lg-5">
                  <h5>Learn More</h5>
                  <ul class="pl-0 text-muted">
                    <li><a href="#">Product</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Blog</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-lg-2 pl-lg-5">
                  <h5>Contact</h5>
                  <ul class="pl-0 text-muted">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Info</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                  <h5>Support</h5>
                  <ul class="pl-0 text-muted">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-3">
                  <h5>Social</h5>
                  <div class="d-flex">
                    <div class="social-round-box">
                      <a href="#"><span class="mdi mdi-facebook"></span></a>
                    </div>
                    <div class="social-round-box">
                      <a href="https://googleplus.com"><span class="mdi mdi-linkedin"></span></a>
                    </div>
                    <div class="social-round-box">
                      <a href="https://twitter.com"><span class="mdi mdi-twitter"></span></a>
                    </div>
                    <div class="social-round-box">
                      <a href="https://pinterest.com"><span class="mdi mdi-pinterest"></span></a>
                    </div>
                  </div>
                </div>
            </div>
            <p class="text-center text-muted pt-5">© 2019-2020 Dario. All rights reserved.</p>
          </footer>
